/* Base styles */
body {
    font-family: Inter Tight, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    transition: background-color 0.4s, color 0.4s;
    -webkit-font-smoothing: antialiased !important; 
    overflow-x: hidden !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
}
p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    line-height: 1.5;
}

header {
    position: relative;
    padding: 100px 0;
    color: #fff;
    overflow: hidden;
}

 /* Raindrop animation */
 .raindrop {
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: #8cdfe8; 
    animation: fall 1.5s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(110%);
    }
}
 /* Video container */
 .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Video styles */
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Overlay for painted effect */
.canvas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
}
.ASRHi {
    display: inline-block;
    animation: wave 1.8s infinite;
    transform-origin: 70% 70%;
}
@keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-15deg); }
    20% {transform: rotate(20deg); }
    30% { transform: rotate(-20deg); }
    40% { transform: rotate(9deg); }
    50% { transform: rotate(0deg); }
    100% {transform: rotate(0deg); }
}
/* Header styles */
section {
    padding: 50px 0;
    color: #333; 
}
.Heading{
    /* font-size: 36px; */
    margin-bottom: 20px;
}

.Box-Shadow {
    box-shadow: 15px 20px 20px 20px rgba(0, 0, 0, 0.1);
}
.text-center i {
    font-size: 3rem; 
    margin-bottom: 10px;
    margin-top: 15px;
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: #fff;
    background: linear-gradient(135deg, #00244b, #0a66c2, #3732bd);
    background-size: 400% 400%;
    transition: background 0.3s ease-in-out; 
    animation: footer-gradient-animation 5s ease infinite; 
}

@keyframes footer-gradient-animation {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}

nav {
    background: linear-gradient(135deg, #001549, #3596ff, #3732bd);
    width: 100%;
    transition: background 0.3s ease-in-out; 
    background-size: 400% 400%; 
    animation: gradient-animation 5s ease infinite; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1000;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}

.NavText {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 6s steps(500, end), blink-caret .6s step-end;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 50%;
    }
}
.navbar-nav a{
    font-size: 18px;
    margin-top: 10px;
} 
.nav-link{
    color:white !important;
}
.nav-link:hover{
    color: #ffe76f !important;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #171c28;
}

::-webkit-scrollbar-thumb {
    background-color: #172c73;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(120deg, #dd63ff, #e048fa, #eb0239);
}
/* Skills icons */
.fa-html5{
    color:red
}
.fa-css3-alt{
    color: aqua;
}
.fa-js{
    color: gold;
}
.fa-cogs{
    color:#6f3099;
}
.fa-react{
    color: #66dbfb;
}
.fa-database{
    color: #4a7da4;
}
.fa-umbrella{
    color:#2e409b;
}
.fa-java{
    background: linear-gradient(180deg, #e87408, #5886a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.fa-angular{
    background: linear-gradient(120deg, #7d1aff, #e048fa, #eb0239);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.fab, .fas , .fa{
    transition: transform 0.3s ease;
    cursor: pointer;
}
.fab:hover {
    transform: scale(1.2);
}
.fas:hover {
    transform: scale(1.2);
}
.fa:hover {
    transform: scale(1.2);
}
/* Loader */

#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000 !important; 
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* Hide the main content initially */
#content {
    display: none;
}
/* GIF Styling */
.loader-gif {
    width: 150px; 
    height: 150px; 
    animation: zoomInOut 1s infinite;
}
@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
.loading-text {
    margin-top: 20px; 
    font-size: 1.5em; 
    color:#fcb64c;
    animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.col-md-3:hover h4 {
    background: linear-gradient(120deg, #7d1aff, #aaa5ff, #eb0239);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.skill:hover p{
    background: linear-gradient(180deg, #7d1aff, #eb0239);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card:hover .card-body::after {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 10px 30px -15px #0003;
    transition: all .3s ease;
    z-index: -1;
}
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 10px 30px -15px #0003;
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 15px 40px -10px #0003;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 10px 30px -15px #0003;
    }
}

.skills-heading {
    font-size: 56px;
    font-weight: 400;
}
.skill {
    font-size: 20px;
}
.meter {
    background: #f3efef;
    border-radius: 25px;
    height: 20px;
    position: relative;
}
.meter>span {
    background-color: #aaa5ff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 20px;
    border-top-right-radius: 6px;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.meter:hover span{
    background: linear-gradient(120deg, red,yellow, #33ff00 );
}
.education-item {
    /* display: flex; */
    align-items: center;
    margin-bottom: 20px; 
}

.education-icon img {
    width: 75px; 
    height: 75px;
    margin-right: 15px;
    border-radius: 50%; 
}

.education-details {
    flex: 1 1 auto;
}
/* Contact */
.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-text {
    width: 70%;
    padding-right: 30px;
}

.contact-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.contact-text p i {
    margin-right: 10px; 
    font-size: 24px; 
}

.contact-image {
    width: 30%;
    text-align: center;
}

.rounded-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Company */
.company-section {
    padding: 60px 0;
    background-color: #f9f9f9; 
}

.company-image {
    width: 200px;
    max-width: 100%;
    height: auto;
    border-radius: 100%; 
    background: white;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.company-image:hover {
    transform: scale(1.1);
}

.company-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.company-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background: linear-gradient(180deg, #ebf8ff 0, #3498db);
    color: #FFF;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: none;
}

    #scrollToTopBtn:hover {
        background: black !important;
        width: 55px;
        height: 55px;
        transition: background-color 0.3s ease;
    }

.scrollUp {
    width: 40px;
}
.social-media-div {
    display: flex;
    gap: 10px;
}

.icon-button i {
    border-radius: 2.6rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
    margin: 0 5px 10px;
    position: relative;
    text-align: center;
    transition: .2s ease-in;
    -webkit-user-select: none;
    user-select: none;
    width: 2.6rem;
}
.github i {
    background: linear-gradient(135deg, #dd63ff, #0c1c3b, #3732bd);
}
.google i {
    background-color: #ea4335;
}
.facebook i {
    background-color: #3b5998;
}
.linkedin i {
    background-color: #0882bd;
}
.instagram i {
    background: linear-gradient(135deg, #6e55d5, #ff3c7a, #fed664);
}
.twitter i {
    background-color: #1da1f2;
}
.icon-button:hover i {
    background: #000;
}
.dark-mode a {
    color: #fff;
}
.card{
    border:none;
}
.card-body {
    position: relative;
    overflow: hidden;
}
.light-theme .card-body {
    border-radius: 15px;
    background: linear-gradient(to top right, #fff89d 0%, #f4f2ee 100%);
    background-size: 400% 400%; 
    animation: card-gradient-animation 5s ease infinite; 
}

@keyframes card-gradient-animation {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%;
    }
}

.card-body:hover {
    content: '';
    background: linear-gradient(135deg, #dd63ff, #0c1c3b, #3732bd);
    z-index: 1;
    color:rgb(255, 255, 255) !important;
    border-radius: 15px;
}
.card-body:hover a{
 color:rgb(248, 220, 8);
}
.card:hover .card-body {
    animation: pulse 1.5s infinite;
    transition: transform 0.3s ease-in-out;
}
.card{
    border-radius: 15px;
    width: 100%;
}

/* Light Theme */
.light-theme {
    background-color: #eee8dc;
    color: #333;
}

.light-theme header,
.light-theme section,
.light-theme footer
 {
    color: #333;
    background-color: #fff;
}

/* Dark Theme */
.dark-theme {
    background-color: #000000;
    color: #f4f4f4;
}

.dark-theme header,
.dark-theme section,
.dark-theme footer,
.dark-theme .card-body {
    color: #f4f4f4;
    background-color: #0f0f0f !important;
}
 h1:hover{
    background: linear-gradient(120deg, #7d1aff, #e048fa, #eb0239);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #0f0f0f !important;
}
.light-theme .ArHover:hover{
    background: linear-gradient(120deg, #7d1aff, #e048fa, #eb0239);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: white !important;
}
.dark-theme .ArHover:hover{
    background: linear-gradient(120deg, #7d1aff, #e048fa, #eb0239);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #0f0f0f !important;
}
/* Additional Styling for Switch */
.theme-toggle-button {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 32px; 
    border: none !important;
    margin-top: 18px;
}
.btn:focus {
    outline: none!important;
    background-color: transparent!important;
    box-shadow:none;
    border:none !important;
}
.btn{
    border:none !important;
}
.theme-toggle-button:hover {
    outline: none!important;
    background-color: transparent!important;
    box-shadow:none;
}
.theme-toggle-button .iconify {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 26px;
    color: white;
    transition: opacity 0.5s ease-in-out;
}
.theme-toggle-button:hover .iconify{
    color: #ffe76f ;
}
.theme-toggle-button .iconify.active {
    opacity: 0; 
}

.theme-toggle-button .iconify:not(.active) {
    opacity: 1; 
}
@media (max-width: 767px) ,(max-width: 991px) {
    .NavText{
        font-size: 16px;
    }
    .theme-toggle-button {
    margin-top: 0px !important;
    }
    .contact-text {
        width: 50%;
        padding-right: 0px;
    }
    .contact-image {
        width: 50%;
        padding-right: 0px;
    }
    .Ski-name{
        margin-top: 5px;
    }
    .scrollUp {
        width: 40px;
        margin-left: -10px;
    }
    body {
        font-family: Inter Tight, sans-serif;
        -webkit-font-smoothing: antialiased !important; 
        overflow-x: hidden !important;
        
    }
    section , header{
        width: 100% !important;
    }
    .theme-toggle-button {
        margin-bottom: 20px !important;
    }
}

@media (max-width: 991px) {
    body {
        overflow-x: hidden !important;
    }

    html, body {
        max-width: 100vw; 
        overflow-x: hidden;
    }
    * {
        box-sizing: border-box;
    }
    .scrollUp {
        width: 40px;
        margin-left: -10px;
    }
}


@import 'https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css';
